pkgbase = calibre
	pkgdesc = Ebook management application
	pkgver = 7.13.0
	pkgrel = 1
	url = https://calibre-ebook.com
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = poppler
	checkdepends = python-fonttools
	checkdepends = speech-dispatcher
	makedepends = cmake
	makedepends = pyqt-builder
	makedepends = rapydscript-ng
	makedepends = sip
	makedepends = xdg-utils
	depends = hunspell
	depends = hyphen
	depends = icu
	depends = jxrlib
	depends = libmtp
	depends = libstemmer
	depends = libusb
	depends = libwmf
	depends = mathjax
	depends = mtdev
	depends = optipng
	depends = podofo
	depends = python-apsw
	depends = python-beautifulsoup4
	depends = python-css-parser
	depends = python-cssselect
	depends = python-dateutil
	depends = python-dnspython
	depends = python-faust-cchardet
	depends = python-feedparser
	depends = python-html2text
	depends = python-html5-parser
	depends = python-jeepney
	depends = python-lxml
	depends = python-lxml-html-clean
	depends = python-markdown
	depends = python-mechanize
	depends = python-msgpack
	depends = python-netifaces
	depends = python-pdftotext
	depends = python-pillow
	depends = python-psutil
	depends = python-py7zr
	depends = python-pychm
	depends = python-pycryptodome
	depends = python-pygments
	depends = python-pyqt6
	depends = python-pyqt6-webengine
	depends = python-regex
	depends = python-unrardll
	depends = python-xxhash
	depends = python-zeroconf
	depends = python-zstandard
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-webengine
	depends = ttf-liberation
	depends = uchardet
	depends = udisks2
	depends = zstd
	optdepends = poppler: required for converting pdf to html
	optdepends = python-fonttools: required for font subset feature in epub editor
	optdepends = speech-dispatcher: TTS support in the viewer
	conflicts = calibre-common
	conflicts = calibre-python3
	replaces = calibre-common
	replaces = calibre-python3
	source = https://download.calibre-ebook.com/7.13.0/calibre-7.13.0.tar.xz
	source = https://calibre-ebook.com/signatures/calibre-7.13.0.tar.xz.sig
	validpgpkeys = 3CE1780F78DD88DF45194FD706BC317B515ACE7C
	sha256sums = b749d22ec4f75f932860784b8db469ab229b57a35d02a36ead28db72293f9fb4
	sha256sums = SKIP

pkgname = calibre
